@section view_title
{
   Chi tiết sản phẩm

    }
@using DoAnWeb.Models
@model tbl_SanPhams
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Assets/image/@Model.SanPhamID/main_thumn.jpg" style="width:auto;height:300px;"/>
        </div>
        <div class="col-md-8">
            <span>
                @Model.TenSanPham
            </span>
            <br />
            <span>
                @Model.Gia
            </span>
        </div>
    </div>
</div>