@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using DoAnWeb.Models.Helper
@model Poco_Index_Page

<h4 style="text-align:center">Hãy sử dụng các tính năng ở menu trái để thao tác với website. </h4>


