@using DoAnWeb.Models

@model List<tbl_LoaiSanPhams>
@section section_css
{
}
<nav>
    <div id="menu" class="menu">
        <div class="menu-header">
            <i class="fa fa-tags"></i>
            DANH MỤC SẢN PHẨM
        </div>
        <ul>
            @foreach (tbl_LoaiSanPhams item in Model)
            {
                <li class="active">
                    
                    <a href="@Url.Action("ByCartegory", "Products", new { id = item.LoaiSanPhamID})">
                        <img src="~/Assets/LeftMenu/italian-wine-bottle.svg" width="48"/> @item.TenLoaiSanPham
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>


